@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap%22";

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #6070ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  width: inherit;
  height: 50px;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

header a h1 {
  color: #6070ff;
  font-size: 26px;
}

nav .menu {
  width: 30px;
  color: #6070ff;
}

li {
  list-style: none;
}

nav .menu-items li {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  background: url("images/head.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-top: 6rem;
}

.header2 {
  height: 150px;
  top: 114px;
  left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
}

.body2 p {
  max-height: 100px;
  margin-top: 24px;
  left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.conect h4 {
  max-width: 150px;
  height: 24px;
  font-weight: 600;
  line-height: 24px;
  size: 24px;
  color: #7f8cff;
  margin-top: 5em;
}

.icons ul {
  margin-top: 1em;
  margin-bottom: 4em;
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 200px;
  padding-left: 0;
  align-items: center;
}

.works {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 88px;
  place-items: center;
}

.card-image {
  width: 327px;
  height: 220px;
  margin-bottom: 12px;
  padding-top: 75%;
  background-image: url("images/Snapshoot.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.card-2-image {
  width: 100%;
  padding-top: 75%;
  background-image: url("images/Snapshoot3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-3-image {
  width: 100%;
  padding-top: 75%;
  background-image: url("images/Snapshoot4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-4-image {
  width: 100%;
  padding-top: 75%;
  background-image: url("images/Snapshoot5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 327px;
  height: 580px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-content {
  width: 295px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-content h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  color: #172b4d;
}

.see-project {
  margin-top: 1em;
}

.see-project a {
  text-decoration: none;
  border: 1px solid #5151d2;
  padding: 0.7em 1em;
  border-radius: 10px;
}

.first-links a {
  color: #7a869a;
}

.get-resume a {
  text-decoration: none;
  border: 1px solid #5151d2;
  padding: 0.7em 1em;
  border-radius: 10px;
}

.menu-open li a {
  font-family: roboto, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  color: #fff;
}

.first-links {
  display: flex;
  font-size: 13px;
  font-weight: 600px;
  line-height: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  gap: 0.9rem;
  list-style: none;
}

.canopy-style {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.first-links ul li a {
  text-decoration: none;
  font-weight: 600px;
  color: #344563;
}

.canopy-image {
  background-image: url("images/Counter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  margin-left: auto;
}

.back-end-image {
  background-image: url("images/Counter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  margin-left: auto;
}

.card-content p {
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0 12px;
  color: #344563;
}

.second-links ul {
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-start;
  padding: 0 50px 0 2px;
  list-style: none;
  gap: 0.5rem;
}

.second-links ul li a {
  padding: 0.2em 0.6em;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  background-color: #ebebff;
  color: #6070ff;
}

.see-project a:hover {
  background-color: #6070ff;
  color: #fff;
}

.see-project a:active {
  background-color: #2230d2;
  color: #fff;
}

.disable {
  pointer-events: none;
  text-decoration: none;
  border: 1px solid #c1c7d0;
  width: 114px;
  padding: 0.7em 1em;
  height: 48px;
  border-radius: 8px;
  left: 564px;
  top: calc(50% - 48px / 2 + 57.5px);
}

.get-resume a:hover {
  background-color: #6070ff;
  color: #fff;
}

.get-resume a:active {
  background-color: #2230d2;
  color: #fff;
}

.mt-post {
  width: 300px;
  height: 80px;
  font-weight: 800;
  font-size: 32;
  line-height: 44px;
  color: #172b4d;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 50px;
}

.lang-dropdown {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.lang-dropdown h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.dropdown {
  background-image: url("images/icdropdown.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-left: auto;
}

.technologies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tech {
  width: 400px;
  display: flex;
  padding: 0.9em;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex: 1;
  background: #f7f7f9;
  border-radius: 8px;
}

.drop-right {
  background-image: url("images/icdropdown.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-left: auto;
  transform: rotate(-90deg);
}

.border-bottom {
  border-bottom: 1px solid rgb(99 98 98 / 30%);
  background-color: white;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  padding: 1em;
  border: 1px solid #dfe1e6;
  border-top-right-radius: 30px;
}

.first-section {
  padding-top: 5em;
}

.first-section h3 {
  width: 200px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;
  color: #172b4d;
}

.first-section p {
  margin-top: 1.5em;
}

#section-5 .s5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 375px;
  height: 1263px;
  text-align: center;
  border: 1px solid rgb(221 217 217);
  border-top-right-radius: 40px;
}

#about1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forms h2 {
  margin-top: 50px;
  padding-top: 20px;
}

#about1 h2 {
  margin-left: -10px;
}

#section-5 .resume a {
  width: 170px;
  height: 48px;
  border: 1px solid #396df2;
  border-radius: 10px;
  padding: 0.8em;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  display: flex;
  margin-left: 1.1em;
  align-items: center;
  text-decoration: none;
}

#section-5 .resume a:hover {
  background: #738bca;
  color: #fff;
  border: none;
}

#section-5 .resume a:active {
  background: #396df2;
  color: #fff;
  border: none;
}

/* End of section-5 styling */
#section-5 .about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  padding-top: 2em;
  min-height: 200px;
  color: #172b4d;
  font-weight: 900;
  font-size: 35px;
  margin-top: 1em;
}

#section-5 .head-text h1 {
  display: flex;
  align-self: flex-start;
  width: 150px;
  color: #172b4d;
  font-weight: 900;
  font-size: 40px;
}

.lang-container > p {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 237px;
  margin-right: 30px;
  font-size: 20px;
  color: #000;
}

#section-5 .about-text p {
  box-sizing: border-box;
  width: 100%;
  height: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  text-align: left;
  padding-left: 1em;
  padding-top: 0;
}

#section-5 .s5 h2 {
  width: 180px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
}

#section-5 .s5 .base-icon-5 ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
  list-style: none;
  padding-left: 20px;
}

.tec ul li {
  width: 10%;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding-left: 2.8em;
}

.language {
  background-color: #ebebff;
  color: #6070ff;
  margin-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 8px;
  letter-spacing: 0.03em;
}

/* my info section */
#my-info {
  padding: 0 50px 0 2px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  align-items: center;
  width: 70%;
  margin-left: 4em;
}

.resume-button {
  width: 162px;
  height: 48px;
  margin-bottom: 24px;
  margin-top: 22px;
}

.lang-container,
.list-item {
  display: flex;
  align-items: center;
}

.lang-list {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.lang-container {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.list-item {
  background: #f7f7f9;
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-bottom: 12px;
  padding: 9px 12px;
}

.list-item > img {
  margin-right: 16px;
}

.frameworks {
  margin-bottom: 24px;
  margin-top: 36px;
}

.frameworks,
.skills {
  border-bottom: 1px solid #dfe1e6;
}

/**************** added Contact form here *****************/

.contactt {
  max-width: 375px;
  max-height: 800px;
  background: #6070ff url("images/contacts.png") no-repeat right top;
  background-size: 57.8%;
  border-top-left-radius: 8rem;
  display: flex;
  flex-direction: column;
}

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.contactme-head {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
}

.contactme-body {
  font-style: normal;
  font-family: poppins, sans-serif;
  max-width: 327px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
}

.form-name,
.form-email {
  width: 327px;
  border-radius: 8px;
  height: 48px;
  margin: 5px 0;
  border: 1px solid#cfd8dc;
}

.form-message {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  margin-top: 10px;
}

.submission {
  font-family: inherit;
  display: flex;
  margin-top: -30px;
  margin-left: 25px;
  padding-top: 12px;
  margin-bottom: 30px;
  justify-content: center;
  justify-items: center;
  align-self: flex-start;
  border: 1px solid #6070ff;
  background-color: white;
  border-radius: 8px;
  width: 140px;
  height: 48px;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  white-space: nowrap;
  cursor: pointer;
}

.submission :disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
}

.submission :hover:enabled {
  background: #6070ff;
  color: white;
  box-shadow: calc(0px + 0px) 8px 16px rgb(64 83 252 / 24%);
}

.submission :active:enabled {
  background: #2230d2;
  color: white;
}

input::placeholder,
textarea::placeholder {
  font-family: poppins, sans-serif;
  font-size: 15px;
  padding: 10px;
}

.form-name:hover,
.form-email:hover,
.form-message:hover {
  transform: translate(10px, 0);
}

.contactme-body:hover {
  transform: translate(-10px, 0);
}

.error {
  color: #fff;
}

.shapes {
  margin-top: 21px;
  margin-left: 120px;
  margin-bottom: 8px;
}

.menu-open {
  display: block;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #6070FF;
  top: 0;
  left: 0;
  padding: 40px;
}

nav .menu-open li {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: center;
}

.close i {
  display: block;
  color: #fff;
  font-size: 32px;
  position: fixed;
  right: 20px;
  top: 20;
}

.items li img {
  margin-right: 0;
}

.item {
  width: 80%;
  padding-bottom: 8px;
  color: #fff;
}

.close {
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 50px;
    padding: 1.5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .menu {
    display: none;
  }

  nav .menu-items {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    margin-right: 154px;
    text-align: center;
    gap: 32px;
  }

  li.item a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .container {
    min-width: 1440px;
    max-height: 916px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: url("images/headerbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .content {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    margin-top: 13rem;
    margin-bottom: 10rem;
  }

  .header2 h1 {
    width: 450px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 2.37px;
    color: #091e42;
  }

  .body2 {
    width: 920px;
  }

  .body2 p {
    width: inherit;
    max-height: 98px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #344563;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 1rem;
  }

  .conect h4 {
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 20px;
    padding-top: 1rem;
  }

  .icons {
    margin-top: -25px;
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 1156px;
    height: 496px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .card-reverse {
    width: 1156px;
    height: 496px;
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
  }

  .card-image {
    background: url("images/bgdesktop2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 544px;
    height: 448px;
  }

  .facebook-content {
    display: flex;
    flex-direction: column;
    width: 496px;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    align-self: flex-start;
    align-content: flex-start;
  }

  .card-content {
    width: 496px;
  }

  .mt-post {
    width: 496px;
  }

  .text1 {
    /* background-color: #000; */
  }

  .card-2-image {
    background: url("images/bgdesktop3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 544px;
    height: 448px;
  }

  .card-3-image {
    background: url("images/bgdesktop4.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 544px;
    height: 448px;
  }

  .card-4-image {
    background: url("images/bgdesktop5.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 544px;
    height: 448px;
  }

  #section-5 .s5 {
    width: 1440px;
    height: 924px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .lang-list {
    display: flex;
    flex-direction: row;
    margin-left: -30px;
    gap: 1rem;
  }

  .list-item {
    width: 122px;
    height: 120px;
    background-color: #f7f7f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
  }

  #about1 {
    margin-left: 142px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #about1 .about-text .head-text {
    margin-top: -105px;
  }

  #about1 .about-text .head-text h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #091e42;
    display: flex;
    align-items: center;
  }

  #about1 .about-text .head-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
  }

  #about1 h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #7f8cff;
    display: flex;
    margin-left: 20px;
  }

  .resume {
    width: 200px;
    height: 24px;
    margin-top: 24px;
  }

  .resume-list {
    width: 380px;
  }

  .lang-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contactt {
    min-width: 1440px;
    height: 846px;
    margin-top: -250px;
    background: #6070ff url("images/bgcontactform.svg") no-repeat;
    background-position: center;
    background-size: contain;
    border-top-left-radius: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .submission {
    display: flex;
    padding-top: 12px;
    margin-bottom: 30px;
    justify-content: center;
    justify-items: center;
    align-self: center;
    border: 1px solid #6070ff;
    background-color: white;
    border-radius: 8px;
    width: 140px;
    height: 48px;
    color: #396df2;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
  }

  .shapes {
    display: none;
  }

  #my-info {
    margin-top: 150px;
  }

  nav .menu-items li {
    display: flex;
  }
}
