@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap%22";

/* :root{
  --f-poppins: Poppins, Arial, Helvetica, sans-serif;
} */
body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #e5e5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

.bg-white {
  background-color: white;
}

header {
  width: 100%;
  height: 50px;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
}

header a h1 {
  color: #6070ff;
  font-size: 26px;
}

nav .menu {
  width: 30px;
  color: #6070ff;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
}

.content {
  padding-left: 1rem;
  padding-right: 2rem;
  margin-top: 6rem;
}

.header2 {
  width: 327px;
  height: 150px;
  top: 114px;
  left: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.body2 p {
  width: 100%;
  height: 100px;
  margin-top: 24px;
  left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.conect p {
  margin-top: 5em;
  margin-bottom: 0.5em;
  width: 150px;
  height: 24px;
  font-weight: 600;
  line-height: 24px;
  size: 24px;
  color: #7f8cff;
}

.icons ul {
  margin-top: 1em;
  margin-bottom: 4em;
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 200px;
  padding-left: 0;
  align-items: center;
}

.works {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 88px;

  /* margin-block: 114px; */
  place-items: center;
}

.card-image-container {
  max-width: 100%;
  border-radius: 8px;
}

.card-image {
  width: 327px;
  height: 220px;
  margin-bottom: 12px;
  padding-top: 75%;
  background-image: url("images/Snapshoot.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.card-2-image {
  width: 100%;
  padding-top: 75%;
  background-image: url("images/Snapshoot3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-3-image {
  width: 100%;
  padding-top: 75%;
  background-image: url("images/Snapshoot4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-4-image {
  width: 100%;
  padding-top: 75%;
  background-image: url("images/Snapshoot5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 327px;
  height: 552px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-content {
  width: 295px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-content h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  color: #172b4d;
}

.see-project {
  margin-top: 1em;
}

.see-project a {
  text-decoration: none;
  border: 1px solid #5151d2;
  padding: 0.7em 1em;
  border-radius: 10px;
}

.first-links ul {
  display: flex;
  font-size: 13px;
  font-weight: 600px;
  line-height: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  gap: 0.9rem;
  list-style: none;
}

.get-resume a {
  text-decoration: none;
  border: 1px solid #5151d2;
  padding: 0.7em 1em;
  border-radius: 10px;
}

.first-links ul li a {
  text-decoration: none;
  font-weight: 600px;
  color: #344563;
}

.canopy-image {
  background-image: url("images/Counter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  margin-left: auto;
}

.back-end-image {
  background-image: url("images/Counter.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  margin-left: auto;
}

.card-content p {
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0 12px;
  color: #344563;
}

.second-links ul {
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-start;
  padding: 0 50px 0 2px;
  list-style: none;
  gap: 0.5rem;
}

.second-links ul li a {
  padding: 0.2em 0.6em;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  background-color: #ebebff;
  color: #6070ff;
}

.mt-post {
  width: 300px;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 50px;
}

.lang-dropdown {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.lang-dropdown h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.dropdown {
  background-image: url("images/icdropdown.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-left: auto;
}

.technologies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tech {
  width: 400px;
  display: flex;
  padding: 0.9em;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex: 1;
  background: #f7f7f9;
  border-radius: 8px;
}

.drop-right {
  background-image: url("images/icdropdown.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-left: auto;
  transform: rotate(-90deg);
}

.border-bottom {
  border-bottom: 1px solid rgb(99 98 98 / 30%);
  background-color: white;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  padding: 1em;
  border: 1px solid #dfe1e6;
  border-top-right-radius: 30px;
}

.first-section {
  padding-top: 5em;
}

.first-section h3 {
  width: 200px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;
  color: #172b4d;
}

.first-section p {
  margin-top: 1.5em;
}
